.copyright-text{
    position: fixed;
    margin: auto;
    text-align: center;
    bottom: 18px;
    align-items: center;
    width: 100%;
    color: #3f51b5;
}

.mat-card{
    box-shadow: 0px 0px 20px 0px #8080808a;
}