<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>cloud</mat-icon>
    </button>
    <span> &nbsp; Open Weather</span>
    <span class="example-spacer"></span>
    <button mat-button matTooltip="{{ language_string | translate }}" [matMenuTriggerFor]="menu">{{ selected_language }} <mat-icon>arrow_drop_down</mat-icon></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="changeLanguage('en')">English</button>
        <button mat-menu-item (click)="changeLanguage('ka')">ಕನ್ನಡ</button>
        <button mat-menu-item (click)="changeLanguage('hi')">हिन्दी</button>
    </mat-menu>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon matTooltip="{{logout_string | translate }}" routerLink="/login">logout</mat-icon>
    </button>
</mat-toolbar>

<div class="container">

    <mat-card *ngFor="let api_result of api_results">
        <h1 class="city-name">{{ api_result.name | translate }}</h1>
        <div fxLayout="row" fxLayout.xs="column" class="weather-data">
            <div  class="inner-div">
                <span class="material-icons">
                    device_thermostat
                </span>{{ temperature_string | translate }} : {{ api_result.main.temp }}&#8451;
            </div>
            <div  class="inner-div"> 
                <span class="material-icons">
                    water
                </span> {{ humidity_string | translate }} : {{ api_result.main.humidity}}%
            </div>
            <div class="inner-div"> 
                <span class="material-icons">
                    air
                    </span> {{ wind_speed_string | translate }} : {{ api_result.wind.speed}} m/s
            </div>
        </div>
    </mat-card>
  

</div>
